
<!--==================== HOME ====================-->
<section class="home container" id="home">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/home.html"></include>
</section>

<!--==================== CATEGORY ====================-->
<section class="section category">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/category.html"></include>
</section>

<!--==================== ABOUT ====================-->
<section class="section about" id="about">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/about.html"></include>
</section>

<!--==================== TRICK OR TREAT ====================-->
<section class="section trick" id="trick">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/trick.html"></include>
</section>

<!--==================== DISCOUNT ====================-->
<section class="section discount">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/discount.html"></include>
</section>

<!--==================== NEW ARRIVALS ====================-->
<section class="section new" id="new">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/new.html"></include>
</section>

<!--==================== OUR NEWSLETTER ====================-->
<section class="section newsletter">
  <include src="../apps/responsive-halloween-website/assets/templates/partial/newsletter.html"></include>
</section>
