<div class="pane-group workspace">
  <aside class="pane pane-sm sidebar">
    <nav class="nav-group">
      <h5 class="nav-group-title">Places</h5>
      <hr class="nav-group-divisor" />
      <div class="nav-group-item" title="Home">
        <i class="bi bi-house-gear"></i><span> Home</span>
      </div>
      <div class="nav-group-item" title="Documents">
        <i class="bi bi-folder2-open"></i><span> Documents</span>
      </div>
      <div class="nav-group-item" title="Downloads">
        <i class="bi bi-download"></i><span> Downloads</span>
      </div>
      <div class="nav-group-item" title="Desktop">
        <i class="bi bi-cloud"></i><span> Desktop</span>
      </div>
    </nav>
  </aside>
  <div class="pane">
    <table class="table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th>Date Modified</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>index.html</td>
          <td>HTML</td>
          <td>Yesterday</td>
          <td>developit</td>
        </tr>
        <tr>
          <td>bundle.js</td>
          <td>JavaScript</td>
          <td>10:01 am</td>
          <td>developit</td>
        </tr>
        <tr>
          <td>photon.css</td>
          <td>CSS</td>
          <td>9:15 am</td>
          <td>connors</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">3 items</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
