<p>home works!</p>

<button type="button" (click)="promiseClick()">Promise</button>
<button type="button" (click)="observableClick()">Observable</button>
<hr />
<button type="button" (click)="observableVsPromiseClick()">
  Observable Vs Promise
</button>
<hr />
<button type="button" (click)="observableVsSubjectClick()">
  Observable Vs Subject
</button>
<hr />
<button type="button" (click)="subjectVsReplaysubjectVsBeehaviorsubjectClick()">
  Subject Vs Replaysubject Vs Beehaviorsubject
</button>
